# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
KB_Preprocess/form_graph_test/
KB_Preprocess/IMG_7437/
KB_Preprocess/uploaded_files/
KB_Preprocess/md_outputs/
KB_Preprocess/会议纪要
